.alert {
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    margin: 12px;
    padding: 1em;
    border-radius: 6px;
    width: 65%;
    font-weight: bold;
    text-align: center;
}
.alert-show {
    visibility: visible;
    -webkit-animation: fadein 0.7s, fadeout 0.7s 5s;
    animation: fadein 0.7s, fadeout 0.7s 5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
    }
  
    @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
    }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
    }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
    }

.alert-error {
    background-color: lightcoral;
    border: 2px solid lightsalmon;
}
.alert-notify {
    background-color: khaki;
    border: 2px solid rgb(219, 209, 112);
}
.alert-sucess {
    background-color: palegreen;
    border: 2px solid rgb(136, 224, 136);
}
.input-error {
    border: 2px solid red;
}